
#panel, #flip {
    padding: 5px;
    text-align: center;
}
#flip {
	text-align: center;
}
#panel {
    padding: 50px;
    display: none;
}
#service i {
	color: #00b3fe;
	font-size: 60px;
	padding: 15px;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  background: transparent;
  overflow-x: hidden;
}

.box {
  background-color: black;
  width: 65%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin: 50%;
  background: transparent;
}

.parallax-window {
    min-height: 400px;
    height: 100%;
    background-attachment: fixed;
}

.about {
  background-color: black;
  width: 65%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
