{% load staticfiles %}
[class*="bg__"] {
  position: relative;

  height: 50vh;

  text-indent: -9999px;

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;

  /* just make it look a bit better ;) */
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

.bg__foo {
  background-image: url("../images/cicero1.jpg");
}

.bg__bar {
  background-image: url("../images/cicero2.jpg");
}

.bg__baz {
  background-image: url("../images/cicero3.jpg");
}

.bg__bazz {

  background-image: url("../images/cicero4.jpg");
}

#panel, #flip {
    padding: 5px;
    text-align: center;
}
#flip {
	text-align: center;
}
#panel {
    padding: 50px;
    display: none;
}
#service i {
	color: #00b3fe;
	font-size: 60px;
	padding: 15px;
}

img {
  max-width: 100%;
  position: relative;
  top: -100px;
}

.panel {
  background-color: black;
  max-width: 80%;
  position: relative;
  border-color: black;
  margin-left:auto;
  margin-right:auto;
  min-width: 200px;
  /*bottom: 1500px;*/
}

.twitter-timeline {
  margin-bottom: 100px;
  position: relative;

}

#twitter {
  padding-bottom: 50px;
}
/*div.container {
  z-index:0;
  position: relative;
}*/
/*.parallax {
  position: relative;
}*/
