<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load staticfiles %}
        <!-- {% static "styles.css" %} -->
        <link rel="stylesheet" href="{% static 'cicero/css/styles.css' %}" media="screen" charset="utf-8">
        <script   src="https://code.jquery.com/jquery-3.0.0.js"   integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo="   crossorigin="anonymous"></script>
        <script>
    // trying to keep the page from scrolling up on click
        var tempScrollTop = $(window).scrollTop();
        $(document).ready(function(){
          // var tempScrollTop = $(window).scrollTop();
          $("#flip").click(function(){
            $("#panel").slideToggle("fast");
          });
        });
        // $(window).scrollTop(tempScrollTop);
        </script>
        <title>Cicero the Jerk</title>
    </head>
    <body>
    <div id="container">
      <div class="parallax-window" data-parallax="scroll" data-image-src="cicerothejerk/apps/cicero/static/cicero/images/cicero1.jpg">
        <img  src="{% static 'cicero/images/CicerBannerPNG.png' %}" alt="Cicero banner"/>
        <div class="box">
             <a class="twitter-timeline"  href="https://twitter.com/CiceroBarkley" data-widget-id="733904258387431424"></a>
             <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

      </div>

      <div class="parallax-window" data-parallax="scroll" data-image-src="cicerothejerk/apps/cicero/static/cicero/images/cicero2.jpg"></div>

      <div class="parallax-window" data-parallax="scroll" data-image-src="cicerothejerk/apps/cicero/static/cicero/images/cicero3.jpg"></div>

      <div class="parallax-window" data-parallax="scroll" data-image-src="cicerothejerk/apps/cicero/static/cicero/images/cicero4.jpg"></div>

                <div class="col-md-12"id="flip"><p><br/><button class="btn btn-theme">About</button></p></div>
                  <div class="col-md-12" id="panel">Our cat Cicero eats all the time. Now, we can quantify how fat he is being. Next to his automatic food bowl is a Raspberry Pi. The Pi has been configured to tweet out a randomized tweet and gif when it detects movement near the bowl. That's basically it, for now.
                  </div>
                  <div id="service">
	 	<div class="container">
 			<div class="row centered">
 				<div class="col-md-6">
 					<i class="fa fa-flask"></i>
 					<h4>Krysten Cooper</h4>
 					<p>Test</p>
 					<p><br/><a href="https://github.com/Krysco" class="btn btn-theme">GitHub</a></p>
 				</div>
 				<div class="col-md-6">
 					<i class="fa fa-flask"></i>
 					<h4>Matthew Mitchell</h4>
 					<p>Test</p>
 					<p><br/><a href="https://github.com/Jealousmango" class="btn btn-theme">GitHub</a></p>
          <p><br/><a href="https://twitter.com/Jealousmango" class="btn btn-theme">Twitter</a></p>
 				</div>
	 		</div>
	 	</div><! --/container -->
	 </div><! --/service -->
            </div>
         </div>
       </div>
       <!-- </div> -->
     </div>
    </body>
</html>
